@charset "UTF-8";
@page {
    margin: 0mm;
    padding: 0mm;
}

@font-face {
    font-family: "JuliaMono";
    font-weight: 300;
    font-style: normal;
    src: url("fonts/JuliaMono-Light.ttf");
}

@font-face {
    font-family: "JuliaMono";
    font-weight: 500;
    font-style: normal;
    src: url("fonts/JuliaMono-Medium.ttf");
}

@font-face {
    font-family: "JuliaMono";
    font-weight: 700;
    font-style: normal;
    src: url("fonts/JuliaMono-Bold.ttf");
}

article,
aside,
blockquote,
figure,
figcaption,
footer,
header,
main,
nav,
section {
    display: block;
}


/* ------- Sections ----------------------------------------------------------*/

body {
    font-size: 100%;
    font-weight: normal;
    line-height: 1.35;
    margin: 0;
    padding: 0;
    -webkit-hyphens: auto;
    hyphens: auto;
    widows: 2;
    orphans: 2;
    font-family: Georgia;
}

h1.titlepage,
body.titlepage {
    text-align: center;
}


/* section, */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
    line-height: 1.25;
    font-weight: bold;
    margin: 1.5em 0;
    margin-bottom: 0.3rem;
    -epub-hyphens: none;
    text-decoration: none;
    hyphens: none;
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.15rem;
}

h5,
h6 {
    font-size: 1rem;
}

h6 {
    font-style: italic;
}


/* ------- Content grouping ------------------------------------------------- */

p {
    margin: 0.5em 0;
    text-indent: 0;
}

blockquote {
    color: #464646;
    font-style: italic;
    padding-left: 10pt;
    margin-left: 0;
    margin-right: 0;
    border: 0 none;
    border-left: 0.1875rem solid #808080;
}

figure {
    margin: 1rem 0;
    padding: 0;
    text-align: center;
}

figcaption {
    margin: 0.25rem auto;
    font-size: 0.875rem;
    text-align: center;
}

ol,
ul,
dl {
    margin: 0.2em 1em;
}

dt {
    font-weight: bold;
}

dt:after {
    content: ": ";
}

dd {
    padding: 0;
    margin: 0;
    margin-left: 20pt;
}

pre {
    text-align: left;
    display: block;
    white-space: pre-wrap;
    border-left: 2px solid #C8C8C8;
    border-top: 2px solid #c8c8c8;
    border-bottom: 2px solid #c8c8c8;
    margin: 0.5em 0em;
}

hr {
    height: 0;
    width: auto;
    padding: 0;
    border: 0 none;
    border-top: 0.125rem solid currentColor;
    margin: 1.5rem auto;
    text-align: center;
    page-break-after: avoid;
}

[hidden] {
    display: none;
}


/* ------- Text (inline) -----------------------------------------------------*/


/*
    <em>      - stress emphasis
    <strong>  - strong importance, seriousness, or urgency
    <small>   - side comments such as small print
    <s>       - no longer accurate or no longer relevant
    <cite>    - reference to a creative work
    <q>       - quotation from another source (its address may be specified in cite attribute)
    <dfn>     - term being defined
    <abbr>    - abbreviation or acronym (optionally with its expansion in title attribute)
    <code>    - fragment of computer code
    <sub>     - subscript
    <sup>     - superscript
    <i>       - technical terms, foreign language phrases, thoughts etc.
    <b>       - draw attention
    <u>       - non-textual annotation
    <mark>    - highlight for reference purposes
*/

em,
cite,
q,
i {
    font-style: italic;
}

dfn {
    font-style: normal;
    font-weight: bold;
}

strong,
b {
    font-weight: bold;
}

small {
    font-size: 0.875em;
}

sub,
sup {
    font-size: 0.675em;
    line-height: 1.2;
}

sub {
    vertical-align: sub;
    vertical-align: -20%;
}

sup {
    vertical-align: super;
    vertical-align: 35%;
}

.block {
    color: lightgray;
}

code {
    white-space: pre-wrap;
    text-align: left;
    font-weight: 700;
    font-family: "JuliaMono", monospace;
    color: #000;
    font-size: 0.8125em;
}

pre>code {
    padding: 0.2rem;
    background-color: #eee;
    font-weight: 500;
}


/* ---------- Image (inline) ------------------------------------------------ */

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    vertical-align: bottom;
}


/* ---------- MathJax ------------------------------------------------------- */

.mjx-container {
    display: block;
    text-align: center;
    white-space: nowrap;
}


/* ---------- Tables -------------------------------------------------------- */

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none;
    padding: 0;
    width: auto;
    max-width: 100%;
    text-align: left;
    margin: 1rem auto;
    page-break-inside: avoid;
    font-variant-numeric: tabular-nums;
}

th {
    padding: 0.3125rem 6pt 0.4375rem 0;
    border-bottom: 0.125rem solid currentColor;
}

td {
    padding: 0.25rem 6pt 0.25rem 0;
    border-bottom: 0.0625rem solid currentColor;
}

td,
th {
    empty-cells: show;
    vertical-align: baseline;
}


/* --------- Table caption -------------------------------------------------- */


/* <caption> must be the first element in <table> */

caption {
    font-size: 0.875rem;
    margin: 0.25rem auto;
    text-align: center;
}


/* --------- Docstrings  ---------------------------------------------------- */

.docstring {
    margin-bottom: 0.5em;
    border-left: 1mm solid lightgray;
    /* border-right: 5px solid lightgray; */
    max-width: 100%;
}

.docstring>header {
    padding: 0.2em 0.5em;
    padding-top: 0.5em;
    margin: 0px;
    background-color: lightgray;
}

.docstring>section {
    padding: 0.4em;
    border-bottom: 1mm dotted lightgray;
}

.docstring>header .docstring-binding {
    margin-right: 0.1em;
}

.docstring-category {
    font-style: italic;
}


/* --------- Admonitions ---------------------------------------------------- */

.admonition {
    border-left: 2px solid gray;
    border-top: 0em none black;
    border-bottom: 2px solid gray;
}

.admonition-header {
    color: white;
    padding-bottom: 0em;
    padding: 0.2em 0.5em;
}

.icon {
    font-family: "JuliaMono";
    font-size: 1.3em;
}

.admonition-header::before {
    font-family: monospace;
    font-weight: 900;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.admonition-body {
    padding: 0.0em 0.5em;
}

.is-compat,
.is-danger,
.is-warning,
.is-info,
.is-success {
    padding: 0em 0em
}

.admonition {
    background-color: #b5b5b5;
    border-style: solid;
    border-width: 1px;
    border-color: #363636;
    border-radius: 4px;
    font-size: 1rem;
}

.admonition strong {
    color: currentColor;
}

.admonition.is-default {
    background-color: #cccccc;
    border-color: #363636;
}

.admonition.is-default>.admonition-header {
    background-color: #363636;
    color: #fff;
}

.admonition.is-default>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.is-info {
    background-color: #d8efff;
    border-color: #209cee;
}

.admonition.is-info>.admonition-header {
    background-color: #209cee;
    color: #fff;
}

.admonition.is-info>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.is-success {
    background-color: #bafcd1;
    border-color: #22c35b;
}

.admonition.is-success>.admonition-header {
    background-color: #22c35b;
    color: #fff;
}

.admonition.is-success>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.is-warning {
    background-color: #ffdfc5;
    border-color: #ff6c28;
}

.admonition.is-warning>.admonition-header {
    background-color: #ff6c28;
    color: #fff;
}

.admonition.is-warning>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.is-danger {
    background-color: #ffcecb;
    border-color: #da0b00;
}

.admonition.is-danger>.admonition-header {
    background-color: #da0b00;
    color: #fff;
}

.admonition.is-danger>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}

.admonition.is-compat {
    background-color: #c1f8ff;
    border-color: #1db5c9;
}

.admonition.is-compat>.admonition-header {
    background-color: #1db5c9;
    color: #fff;
}

.admonition.is-compat>.admonition-body {
    color: rgba(0, 0, 0, 0.7);
}